windowcontrols button {
  min-width: 16px;
  min-height: 16px;
  padding: 0.5px;
  margin: 2px;
}

windowcontrols button image {
  background-color: transparent;
  color: transparent;
  padding: 0px;
  margin: 0px;
}

windowcontrols button.close {
  background-image: url("icons/close.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 4px;
}

windowcontrols button.close:hover {
  background-image: url("icons/close-hover.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 4px;
}

windowcontrols button.maximize {
  background-image: url("icons/maximize.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 4px;
}

windowcontrols button.maximize:hover {
  background-image: url("icons/maximize-hover.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 4px;
}

.fullscreen windowcontrols button.maximize:hover, .maximized windowcontrols button.maximize:hover {
  background-image: url("icons/restore-hover.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 4px;
}

windowcontrols button.minimize {
  background-image: url("icons/minimize.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

windowcontrols button.minimize:hover {
  background-image: url("icons/minimize-hover.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

