button.titlebutton {
  min-width: 16px;
  min-height: 16px;
  padding: 1px;
  margin: 0px;
}

button.titlebutton image {
  background-color: transparent;
  color: transparent;
  padding: 0px;
  margin: 0px;
}

button.titlebutton.close {
  background-image: url("icons/close.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

button.titlebutton.close:hover {
  background-image: url("icons/close-hover.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

button.titlebutton.maximize {
  background-image: url("icons/maximize.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

button.titlebutton.maximize:hover {
  background-image: url("icons/maximize-hover.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.fullscreen button.titlebutton.maximize:hover, .maximized button.titlebutton.maximize:hover {
  background-image: url("icons/restore-hover.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

button.titlebutton.minimize {
  background-image: url("icons/minimize.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

button.titlebutton.minimize:hover {
  background-image: url("icons/minimize-hover.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

